@model AttendanceService.WebApp.ViewModels.LoginViewModel

<div class="row">
    <div class="col-md-4 login">
        <div class="login-title">Prieiga prie studentų lankomumo žymėjimo sistemos</div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-12 login-form-group">
                        <i class="glyphicon glyphicon-user login-icon"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "ELEKTRONINIS PAŠTAS" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 login-form-group">
                        <i class="glyphicon glyphicon-lock login-icon"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "SLAPTAŽODIS" })
                    </div>
                </div>

                @Html.ValidationSummary(true, "Neteisingas elektroninis paštas arba slaptažodis", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="PRISIJUNGTI" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>