body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login {
    float: none;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

    .login .login-title {
        text-align: center;
        font-size: 22px;
        color: #003a6c;
        margin-bottom: 20px;
    }

    .login .login-form-group {
        display: flex;
    }

    .login .login-icon {
        height: 50px;
        width: 50px;
        min-width: 50px;
        font-size: 30px;
        text-align: center;
        line-height: 44px;
        background-color: #ecf0f5;
        color: #cfd7de;
    }

    .login input[type="text"],
    .login input[type="password"] {
        display: inline-block;
        border: 1px solid #ecf0f5;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 50px;
        position: relative;
        top: 1px;
        width: 100%;
        max-width: 100%;
        font-style: italic;
    }

    .login input.input-validation-error {
        border: solid 1px #b94a48;
    }

    .login input[type="submit"] {
        background-color: rgb(38, 155, 240);
        border: none;
        border-radius: 0;
        padding: 10px 30px;
        font-weight: 600;
        float: right;
        margin-top: 20px;
    }

        .login input[type="submit"]:hover {
            background-color: rgb(104, 185, 245);
        }

.navigation {
    background-color: #003665;
    border: none;
    padding-left: 15px;
}

    .navigation .navigation-title {
        color: #fff;
        margin-top: 16px;
    }

    .navigation .nav li a {
        color: #fff;
    }

.lecture-info  {
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
}

.lecture-info.panel-body:before {
    content: "";
    display: none;
}

#filter {
    margin: 20px 0 20px;
}

.nav .dropdown-menu li a {
    color: #000;
}

.nav .dropdown-menu li a:hover {
    color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.inline-list {
    display: inline-block;
}

#piechart {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.stats {
    text-align: center;
}